<div class="input-group">
  <input id="ytdl-input" type="text" class="form-control" placeholder="Youtube Link" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
  <div class="input-group-append" id="button-addon4">
    <button class="btn btn-outline-secondary" type="button" id="audio-btn">Audio</button>
    <button class="btn btn-outline-secondary" type="button" id="video-btn">Video</button>
  </div>
</div>

<div id="results"></div>